################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Practices/Fountain.DeepSeekDemo/.vs
/Practices/Fountain.DeepSeekDemo/Fountain.DeepSeekDemo/bin/Debug/net6.0
/Practices/Fountain.DeepSeekDemo/Fountain.DeepSeekDemo/obj
/Practices/Fountain.Web.Wcf/.vs/Fountain.Web.Wcf
/Practices/Fountain.Web.Wcf/Fountain.Web.Demo/bin/Debug
/Practices/Fountain.Web.Wcf/Fountain.Web.Demo/obj/Debug
/Practices/Fountain.Web.Wcf/Fountain.Web.Host/bin/Debug
/Practices/Fountain.Web.Wcf/Fountain.Web.Host/obj/Debug
/Practices/Fountain.Web.Wcf/Fountain.Web.Wcf/obj/Debug
/Practices/Fountain.Web.Wcf/Fountain.Web.Wcf/bin
